{% extends 'base.html' %}
{% load icons %}

{% block page-pretitle %}django-dynforms{% endblock %}
{% block page-title %}Demo Application{% endblock %}
{% block page-subtitle %}People, Institutions, Subjects, and Reports{% endblock %}

{% block content %}
    <div class="alert alert-info">This application is used to demonstrate the features of <code>django-dynforms</code>.
        Please use the links below to explore some of the features. Each link showcases different applications. You can
        also see some of our other reusable apps in action &mdash; <code>django-itemlist</code> and <code>django-crisp-modals</code>.
    </div>

    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="{% url 'dynforms-list' %}">Forms</a> &mdash; django-dynforms</li>
        <li class="list-group-item"><a href="{% url 'person-list' %}">People</a> &mdash; django-itemlist | django-crisp-modals</li>
        <li class="list-group-item"><a href="{% url 'institution-list' %}">Institutions</a>  &mdash; django-itemlist | django-crisp-modals</li>
        <li class="list-group-item"><a href="{% url 'subject-list' %}">Subjects</a> &mdash; django-itemlist | django-crisp-modals</li>
    </ul>
{% endblock %}
