{% load dynforms %}
{% load icons %}
{% with form.get_validation as validation %}

    <form id="df-form-instance" method="post">
        <div class="df-form">
            {#% render_form_tabs %#}
            {% with form.form_type.get_pages as form_pages %}
                <!-- Nav tabs -->
                {% if form_pages|length > 1 %}
                    <ul class="df-form-tabs nav nav-tabs">
                        {% for page in form_pages %}
                            <li class="nav-item">
                                <a href="#page{{ page.number }}"
                                   class="nav-link {% if page.number == active_page %}active{% endif %}"
                                   data-bs-toggle="tab">{{ page.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div class="df-form-tabs"></div>
                {% endif %}
                <div class="df-form-body">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        {% csrf_token %}
                        <input type='hidden' name='active_page' value='{{ active_page }}'/>
                        {% for page in form_pages %}
                            <div class="tab-pane {% if page.number == active_page %}active{% endif %}"
                                 id="page{{ page.number }}">
                                <div class="df-container row">
                                    {% with validation|page_errors:page.number as errors %}
                                        {% if errors or form.errors %}
                                            <div class="alert {% if form.errors %} alert-danger{% else %}alert-warning{% endif %} alert-dismissible">
                                                <button class="btn-close ms-auto" data-bs-dismiss="alert"
                                                        aria-label="Close"></button>
                                                {% include 'dynforms/form-errors.html' %}
                                            </div>{% endif %}
                                        {% for field in page.fields %}
                                            <div class="df-field {{ field.width_styles }}">
                                                {% include "dynforms/field.html" %}
                                            </div>
                                        {% endfor %}
                                        </div>
                                    {% endwith %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="df-form-footer d-flex align-items-center">
                    <div class="footer-progress">
                        <div class="d-flex flex-column align-items-stretch justify-content-center">
                            <div style="font-size: 95%;">
                                {{ validation.progress|default:0 }}% complete &mdash; {{ object }}
                            </div>
                            <div>
                                <div class="progress" style="height: 0.75em;">
                                    <div class="progress-bar {% if validation.progress < 99.5 %}bg-warning{% else %}bg-success{% endif %}"
                                         role="progressbar"
                                         aria-valuenow="{{ validation.progress }}"
                                         aria-valuemin="0" aria-valuemax="100"
                                         style="width: {{ validation.progress }}%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="footer-buttons">
                {% for name, label in form.form_type.actions reversed %}
                    <input type="submit" id="{{ name }}-action"
                           class="btn {% if forloop.last %}btn-primary{% else %}btn-light border{% endif %}"
                           value="{{ label }}" name="{{ name }}">
                {% endfor %}
            </span>
                </div>
            {% endwith %}
        </div>
    </form>
{% endwith %}

<script>
    $(document).ready(function () {
        // Regiter events for monitoring rule change triggers
        {% for fn, ft in form.form_type.field_specs.items %}
            {% for rl in ft.rules %}
                $("#{{rl.field}}-group").on('df-rules:update', function (event) {
                    //FIXME detect subfields
                    let tgt = $("#{{fn}}-group");
                    let value = valuesOnly($("#df-form-instance :input[name='{{rl.field}}{{rl.subfield}}']").serializeArray());
                    {% if rl.action == 'show' %}
                        tgt.toggleClass("df-hide", !testRule(value, "{{rl.operator}}", "{{rl.value}}"));
                    {% elif rl.action == 'hide' %}
                        tgt.toggleClass("df-hide", testRule(value, "{{rl.operator}}", "{{rl.value}}"));
                    {% endif %}
                });
                $("#df-form-instance :input[name='{{rl.field}}{{rl.subfield}}']").change(function (event) {
                    $("#{{rl.field}}-group").trigger('df-rules:update');
                });
                $("#df-form-instance :input[name='{{rl.field}}{{rl.subfield}}']").change();
            {% endfor %}
        {% endfor %}
            let form_instance = $('#df-form-instance');
            form_instance.find("a[data-bs-toggle='tab']").click(function (e) {
                form_instance.find(":input[name='active_page']").val($(this).parent().index());
            });

            $("a[data-tab-proxy]").click(function (e) {
                $($(this).attr('data-tab-proxy')).click();
            });

            //Save time when form was loaded
            form_instance.attr('data-df-loaded', $.now());

            function monitorChanges(event) {
                // save time when any field was modified except while loading
                var dur = Math.abs(event.timeStamp - form_instance.attr('data-df-loaded'));
                if (dur > 2000) {
                    $("#df-form-instance").attr('data-df-dirty', dur);
                }
            }

            form_instance.on('change', ':input', monitorChanges);
            form_instance.on('click', '[data-repeat-add], .remove-repeat', monitorChanges);

            form_instance.submit(function () {
                $(this).removeAttr('data-df-dirty'); // No warning when saving dirty form
                $("input[disabled]").removeAttr("disabled");
            });
            $(".df-field-runtime").click(function () {
                $('.df-field-runtime').removeClass('activated');
                $(this).addClass('activated');
            });
        }
    )
    ;
</script>
