$color_1: #999999;
$color_2: #FFFFFF;
$color_3: #b92c28;
$color_4: #777;
$color_5: #000;
$color_6: #999;
$color_7: #1f77b4;
$font-family_1: bootstrap-icons;
$background-color_1: #707070;
$background-color_2: rgba(0, 0, 0, 0.08);


i {
  &.icon-xs {
    font-size: 1em;
  }

  &.icon-sm {
    font-size: 1.25em;
  }

  &.icon-md {
    font-size: 1.5em;
  }

  &.icon-lg {
    font-size: 2em;
  }

  &.icon-xl {
    font-size: 3em;
  }
}

svg {
  &.icon-xs {
    width: 1em;
    aspect-ratio: 1;
  }

  &.icon-sm {
    width: 1.25em;
    aspect-ratio: 1;
  }

  &.icon-md {
    width: 1.5em;
    aspect-ratio: 1;
  }

  &.icon-lg {
    width: 2em;
    aspect-ratio: 1;
  }

  &.icon-xl {
    width: 3em;
    aspect-ratio: 1;
  }
}

.toolbox, .page-tools {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  line-height: 1;
  gap: 0.5em;
  text-align: center;

  > * {
    flex-grow: 1;
    flex-basis: 0;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 0 0.125em;

    &:first-child {
      padding-left: 0.5em;
    }

    &:last-child {
      padding-right: 0 !important;
      margin-right: 0 !important;
    }
  }

  &:empty, &:blank, &:-moz-only-whitespace {
    display: none;
  }

  > .separator {
    display: inline-block;
    align-self: stretch;
    width: 1px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 0.25em;

    & + .separator, &:last-child {
      display: none !important;
    }
  }
}


legend {
  font-size: 150%;
  margin-bottom: 0.25em;
}

.section-heading {
  font-size: 150%;
  margin-bottom: 0.25em;
  border-bottom: 1px solid #e5e5e5;
  display: block;
  line-height: inherit;
  width: 100%;
  padding: 0;
}

.df-field-runtime {
  padding: 0;
  width: 100%;
  margin: 0;
  border: 1px solid transparent;

  &:hover {
    .df-info {
      display: inline-block;
    }
  }

  .controls-inline {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.controls .row, .controls.row {
  --bs-gutter-x: 0.75em;
}
.df-field-runtime.error {
  label {
    color: $color_3 !important;
  }
}

div {
  &:not(.no-hover).df-field-runtime {
    &:hover {
      border: 1px dotted rgba(0, 0, 0, 0.12);
    }
  }
}

.df-form-content {

}

.df-form-body {
  width: 100%;
  padding: 0 0.5em;
}

.df-form {
  display: flex;
  flex-flow: column;
  align-items: stretch;

  .form-actions {
    padding: 1em;
  }

  .df-hide {
    display: none !important;
  }

  label {
    margin: 0;
  }

  .tab-pane {
    padding-top: 0.5em;
  }
}

input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  margin: 0;
}

.control-label {
  font-weight: 600 !important;
  margin-top: 0.35em;
  padding-left: 0.2em;
}

.control-description {
  font-size: 14px;
  line-height: 1.48;
}

#df-footer-content {
  display: flex;
  padding: 1em;
  flex-direction: row;
  overflow: hidden;
  color: $color_4;

  .footer-progress {
    flex: 1;
    padding-right: 15px;
  }

  .progress {
    margin-top: 0.25em;
    border: 1px solid rgba(0, 0, 0, 0.15);
  }
}

.df-info {
  display: none;
}

.df-field {
  &:hover {
    .df-info {
      display: inline-block;
    }
  }
}

div[class$="-repeatable"] {
  border: 1px solid transparent;

  &:hover {
    background: rgba(0, 0, 0, 0.025);
  }
}

span.twitter-typeahead {
  display: inherit !important;
}

ul.nav-tabs.small-tabs {
  li {
    > a {
      font-weight: 600;
      margin-right: 2px;
      line-height: 1.3;
    }
  }
}

.control-instructions {
  display: none;
}

.extended-help {
  .df-info {
    display: none !important;
  }

  .df-field-runtime {
    .control-instructions {
      height: 100%;
      right: 0;
      position: fixed;
      table-layout: fixed;
      top: 0;
      width: 25%;
      z-index: 500;
      padding: 95px 18px 0 30px;
      display: none;
    }
  }

  .df-field-runtime.activated {
    .control-instructions {
      display: block;
    }
  }
}

.word-counter {
  padding: 4px;
  line-height: 1;
  text-align: right;
  font-size: 80%;
  font-weight: 700;
  width: 100%;
  background-color: $background-color_2;
  color: $color_7;
}

.trumbowyg-editor-box {
  display: flex !important;
  flex-flow: column;
}

.trumbowyg-editor {
  flex: 1;
  width: 100%;
}

.score-choice {
  margin-bottom: 0.25em;
  .score-pill {
    display: inline-block;
    vertical-align: middle;
    min-width: 120px;
    font-size: 0.95em;

    span {
      padding: 0 0.5em;

      + span {
        text-align: left;
        font-weight: normal;
        border-left: 1px solid rgba(255, 255, 255, 0.25);
      }

    }

  }
}

.nav-tabs {
  margin-top: 1em;
  .nav-item {
    margin-left: 0.25em;
    &:first-child {
        margin-left: 1em;
    }
  }
}